<div class="container-fluid login_container">

    <div class="container login_subcontainer p-0">
        <div class="header text-center p-1 mt-5 mb-4">
            <h1 class="login_header_text display-4 lead text-uppercase font-weight-bolder"><i
                    class="fas fa-sign-in-alt"></i>
                login</h1>
        </div>
        {{#if errors_}}
        {{>errors}}
        {{/if}}
        <form action="/user/login" method="POST" class="login_frm d-flex flex-column px-5 m-0">
            <div class="input-group mb-4">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1"><i class="fas fa-user"></i></span>
                </div>
                <input type="email" class="form-control" placeholder="Username" aria-label="Username"
                    aria-describedby="basic-addon1">
            </div>
            <div class="input-group mb-4">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1"><i class="fas fa-key"></i></span>
                </div>
                <input type="password" class="form-control" placeholder="Password" aria-label="Password"
                    aria-describedby="basic-addon1">
            </div>
            <button type="button" class=" btn btn-primary w-100">LOG-IN</button>
            <div class="form-group text-center my-3">
                <p class="text-dark"><a href="/user/register" class="login_link text-dark"><strong>Register</strong></a> to create account.</p>
            </div>
        </form>
    </div>

</div>