<div class="container-fluid register_container">
    <div class="container register_sub_container">
        <div class="header text-center p-1 mt-5 mb-5">
            <h1 class="login_header_text display-4 lead text-uppercase font-weight-bolder"><i
                    class="fas fa-user-plus"></i>
                Register</h1>
        </div>
        {{#if errors_}}
        {{>errors}}
        {{/if}}
        <form action="/user/register" method="POST" class="login_frm d-flex flex-column px-5 pb-1 m-0">

            <div class="form-group">
                <input type="email" class="form-control" id="exampleInputfirst" aria-describedby="emailHelp"
                    placeholder="Enter email">
            </div>
            <div class="form-group">
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                    placeholder="Enter email">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Enter Password">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" id="exampleInputConfirmPassword1"
                    placeholder="Confirm Password">
            </div>
            <button type="submit" class="btn btn-primary">Register</button>
            <div class="form-group text-center my-3">
                <p class="text-dark">Already have account then please <a href="/user/login" class="login_link text-dark"><strong>Login</strong></a> here.</p>
            </div>
        </form>
    </div>
</div>