<div class="container text-center">
    <div class="jumbotron text-center">
        <h1 class="display-4 lead text-uppercase font-weight-bold mb-4">welcome</h1>
        <p>Express <strong>Passport</strong> Session <strong>Authentication Node Express API</strong></p>
        <a class="btn btn-outline-primary" href="/user/login">Sign-In</a>
        <a class="btn btn-outline-primary" href="/user/register">Sign-Up</a>
    </div>
</div>